<p>viewbookevent works!</p>
<app-nagivation></app-nagivation>
<table class="table table-stripped table-responsive table-hover">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Event Name</th>
            <th>Time</th>
            <th>Date</th>
            <th>Total Price</th>
           

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of ed">
            <td>{{row.id}}</td>
            <td>{{row.eventName}}</td>
            <td>{{row.eventTime }}</td>
            <td>{{row.eventDate | date}}</td>
        
            <td>{{row.total}}</td>
            
            <td><button mat-icon-button color="primary"  (click)="onedit(row)"><mat-icon>edit</mat-icon></button></td>

            <td><button mat-icon-button color="warn" (click)="deletebookedDetails(row)"><mat-icon>delete</mat-icon></button></td>
        </tr>
    </tbody>
   
</table>
<!-- Button trigger modal -->

  <!-- Modal -->

