.container {
    
    border:rgb(85, 173, 231);
    background-color:rgb(85, 173, 231);
  }
 
 .boxone{
     margin-left:5px;
     margin-bottom:5px;
     
    background-color:rgb(85, 173, 231);
    display: flex;
    align-items: center;
    justify-content: center;
    border:rgb(85, 173, 231);
 }

 .boxtwo {
    margin-left: 100px;
    background-color:rgb(85, 173, 231);
    border:rgb(85, 173, 231);
    display: inline-block;
    align-items: center;
    justify-content: center;
}
#search-box {
  
    width:600px;
    height:80px;
    background-color:rgb(85, 173, 231);
    border:solid rgb(85, 173, 231);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

h1 {
    color:Green;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.1s;
    width:300px !important;
    height:400px;
    margin: 30px;
    display: inline-block;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 80px 80px 0 rgba(7, 7, 7, 0.2);
  }
  
  /* Add some padding inside the card container */
  
  .con{
    max-width: 100%;
    max-height: 20%;
   margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  img {
    max-width: 100%;
    max-height: 60%;
   
    padding-bottom:2px;
   }
   .input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    width: 80%;
    border: 1px solid #ef9a9a;
  }
 
  .input[type=text] {
    float:right;
    padding: 60px;
    margin:10px 10px 10px 10px;
        font-size: 17px;
    border: none;
    width: 80%;
    
  }
  .btn{
    
    width: 100px;
    height:37px;
    
  }