<div class="col-md-6 offset-md-3 mt-4" id="container">
  <h1 align="center" style="color:dimgrey"><mat-icon color="accent">eco</mat-icon>BEM</h1>
  <h2 align="center">LOGIN</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input id="email" type="email" placeholder="Enter email" formControlName="email"
      [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">

    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
      <div *ngIf="f['email'].errors['required']">Email is required</div>
      <div *ngIf="f['email'].errors['email']">Email is invalid</div>
    </div>
    <br><br>

    <input id="password" type="password" placeholder="Enter password" formControlName="password"
      [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
      <div *ngIf="f['password'].errors['required']">Password is required</div>
      <div *ngIf="f['password'].errors['minlength']">
        Password must be at least 6 characters
      </div>
      <div *ngIf="f['password'].errors['maxlength']">
        Username must not exceed 40 characters
      </div>
    </div>
    <br><br>

    <button type="submit" class="btn btn-dark" id="loginButton">Login</button>


    <p></p>
    
    <div class="form-group form-check">
      New User/admin?
      <a [routerLink]="['']" id="signupLink">SignUp</a>
    </div>
  </form>

</div>