
<app-nagivation></app-nagivation>
<br><br><br>
<div id="1" class="container">
    <div class="row justify-content-center">
<div class="col-6"><label><input type="text"></label></div>
<div class="col-6"><label><input type="text"></label></div>
<div class="w-100"></div>
<div class="col-6"><label><input type="text"></label></div>
<div class="col-6"><label><input type="text"></label></div>
<div class="w-100"></div>
<div class="col-6"><label><input type="text"></label></div>
<div class="col-6"><label><input type="text"></label></div>
<div class="w-100"></div>
<div class="col-6"><label><input type="text"></label></div>
<div class="col-6"><label><input type="text"></label></div>
<div class="w-100"></div>
<div class="col-6"><label><input type="text"></label></div>
<div class="col-6"><label><input type="text"></label></div>
<br>
<br>
</div>
</div>
