<app-nagivation></app-nagivation>
<br><br><br>
<div class="container">
<div id="nd-box">
    
    <h2>Food Type</h2>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1"></label>
          <select  class="form-control" id="selectFoodCategory" value="Select the category">
              <option>VEG</option>
              <option>NON-VEG</option>
          </select>
         </div>
        <div class="form-group">
            <label for="quantityofveg"></label>
            <input type="tel" class="form-control" id="quantityOfVeg" placeholder="Enter quantity of Veg items"></div>
        <div class="form-group"><label for="quantityofnonveg"></label>
                <input type="tel" class="form-control" id="quantityOfNonVeg" placeholder="Enter quantity of Non Veg items"></div>
    </form>
</div>
  
<div id="rd-box">
    <h2>Select Add ons</h2>
    <form>
        
        <div *ngFor='let add of addons'>
            <input type="checkbox" name="{{add.name}}" [value]="add.price" (change)="getaddons($event,add.price)">{{add.name }}-${{add.price}}
        
    </div>
        </form>                          
</div>
{{total}}
<div id="wd-box">
<button class="btn btn-primary" type="button">Book Event</button>
</div>
</div>
<footer class="footer">
    <div class="row" >    
      <div class="d-flex justify-content-center">
          <a><button class="btn btn-dark" [routerLink]="['/user/bookTheme']">1</button></a>
          
          <a><button  class="btn btn-dark" [routerLink]="['/2']">2</button></a>
          
          </div>        
    </div>

</footer>


